<head>
  <title>Meteor Openlayers 3 Demo</title>
</head>

<body>
  <h1>Meteor Openlayers 3 Demo</h1>

  {{> mapDemo}}
</body>

<template name="mapDemo">  
  
  <p><b>Layers source</b></p>  
	  <select id="mapSourceSelector" name="mapSourceSelector" class="mapSourceSelector">
		  <option value="osm">Open Street Maps</option>
		  <option value="msBing">Microsoft Bing</option>
		  <option value="mapQuest">Map Quest</option>
	  </select>
  <br><br>

  <div id="map" class="map"></div>

  
</template>
